[Unit]
Description=PylonGPS Caster
After=network.target

[Service]
Type=simple
User=pylon
WorkingDirectory=/home/pylon
ExecStart=/usr/bin/caster -C /etc/pylon/caster.pylonCasterConfiguration
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

